@model IEnumerable<Airbnb.Models.Customer>

@{
    ViewData["Title"] = "List of Customers";
}

<h1>List of Customers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.ApplicationUser.FirstName
            </td>
            <td>
                @item.ApplicationUser.LastName
            </td>
            <td>
                <a class="mx-1 btn btn-primary text-center" asp-action="Details" asp-controller="Customer" asp-route-id="@item.CustomerId">Details</a>
                <a class="mx-1 btn btn-danger text-center" asp-action="Delete" asp-controller="Customer" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
