@model IEnumerable<Airbnb.Models.Category>

@{
    ViewData["Title"] = "Category";
}

<div class="container-fluid d-flex align-content-end justify-content-end mb-3">
    <a class="btn btn-primary" asp-action="Create">Create new Category</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a class="mx-1 btn btn-warning text-center" asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a>
                    <a class="mx-1 btn btn-danger text-center" asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
