@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h1>Lista de roles</h1>

<a class="btn btn-primary" asp-action="Create">Criar nova role</a>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var role in Model)
            {
                <tr>
                    <td>@role.Id</td>
                    <td>@role.Name</td>
                    <td><a class="btn btn-warning btn-sm" asp-action="Detalhes" asp-route-id="@role.Id">Ver Detalhes</a></td>
                </tr>
            }
    </tbody>
</table>