@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ul>
    <li>Nome: Programação WEB</li>
    <li>ECTS: 6</li>
    <li>Curso: Engenharia Informatica</li>
    <li>Semestre: 5aaa</li>
</ul>