@{
    ViewData["Title"] = "the booking system of the future";
}

<div class="text-center">
    <img style="height: 300px;" src="airbnb-logo.png"/>
    <h1 style="font-size: 100px;" class="h1 mb-0 font-weight-bold">
        a<span style="font-size: 10px;" class="font-weight-lighter">ngelo</span>irb<span style="font-size: 10px;" class="font-weight-lighter">runo</span>nb
    </h1>
    <h4 class="mt-0 h4 font-weight-lighter font-italic">the booking system of the future</h4>
    <div class="container-fluid my-5">
        <p>With a bigger focus on the user experience, finding a cheap place to spend a couple of days has never been easier.</p>
    </div>
</div>
