@model Airbnb.Models.Accomodation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Accomodation</h4>
    <hr />
    <form asp-action="RemoveAccomodationFromEmployee" asp-controller="Manager">
        <input type="hidden" asp-for="AccomodationId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Back to List</a>
    </form>
</div>
