@model Airbnb.Models.Booking

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookingFrom" class="control-label"></label>
                <input asp-for="BookingFrom" class="form-control" />
                <span asp-validation-for="BookingFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingUntil" class="control-label"></label>
                <input asp-for="BookingUntil" class="form-control" />
                <span asp-validation-for="BookingUntil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccomodationId" class="control-label"></label>
                <select asp-for="AccomodationId" class ="form-control" asp-items="ViewBag.AccomodationId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
