
@{
    ViewData["Title"] = "Unable to Book";
}

<h1>Unable to book</h1>
<hr/>

<p>The date you tried to book is either invalid or unavailable at the moment.</p>

<br/>
<a class="btn btn-primary" asp-controller="Accomodation" asp-action="Index">Go Back to the List</a>